# Ignore Python cache files
__pycache__/

# Ignore virtual environment
venv/

# Ignore local development settings
*.env

# Ignore IDE-specific files
.vscode/
*.idea/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs and database files
*.log
*.db
